$color-link: #8A18E1;
$color-link-hover: #27ACF3;
$color-title: #fff;
$color-text: #2a2a2c;
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {font-size: 15px;	}
body {
	font-family: "Roboto Condesed", "Montserrat", sans-serif;
  min-height: 100vh;
	color:$color-text;
	background-color: #000;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: $color-link;
	outline: none;
	font-weight: 700;
	transition: color 150ms linear;
}

a:hover,
a:focus {
	color:$color-link-hover;
	outline: none;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


// .content {
// 	display: flex;
// 	flex-direction: column;
// 	width: 100vw;
// 	height: calc(100vh - 13rem);
// 	position: relative;
// 	justify-content: flex-start;
// 	align-items: center;
// }

.content-title {
	font-family: "Orbitron", "Arial", sans-serif;
	text-shadow: 3px 4px 10px rgba(125,51,131,0.7), 3px 4px 4px rgba(90,37,131,0.84);
	letter-spacing: -1px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	margin: 20px auto 10px;
	z-index: 100;
	font-size: 3rem;
	color: $color-title;
	line-height: 1;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	
	.content {
		height: 100vh;
		justify-content: center;
	}
}

.login-box {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: white, $alpha: 0.92);
  width: 500px;
  padding: 11vh 5vh 7vh;
  text-align: center;
  z-index: 9999;
  border-radius: 50px;
  box-shadow: 0 15px 35px rgba(90,37,131,0.35);

  .avatar {
  background-color: rgba($color: white, $alpha: 1);
  padding: 30px;
  border-radius: 50%;
  // border: 2px solid transparent;
  box-shadow: 0 15px 30px rgba(90,37,131,0.35);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      border: 2px solid white;
      border-radius: 50%;
      top: -50px;
      left: -5px;
      right: -5px;
      bottom: -50px;
      transform: rotate(70deg);
      animation: animate 6s linear infinite
    }
  }

  @keyframes animate {
    0% {
       transform: rotate(30deg);
       border-color: rgba(125, 6, 216, 0);
    }
    25% {
      transform: rotate(60deg);
      border-color: rgba(136, 87, 173, 0.5);
    }
    50% {
      transform: rotate(90deg);
      border-color: rgba(191, 148, 224, 0.9);
    }
    75% {
      transform: rotate(140deg);
      border-color: rgba(42, 104, 112, 0.5);
    }
    100% {
      transform: rotate(180deg);
      border-color: rgba(236, 212, 255, 0);
    }
  }
  img {
  display: inline-block;
  width: 15vh;
  height: 15vh;
  }

  p {
    margin: 0 0 3vh;
    font-size: 1.2rem;
  }

  .form {
    .form-input-box {
        position: relative;
        text-align: left;
        margin: 0 0 3vh;

        &::after,
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
        }

        &::before {
          background-image: linear-gradient(to right,rgba(8, 178, 245, 0.9) 0%, rgba(126, 0, 223, 0.9) 70%, rgba(223, 0, 0, 0.9) 100%);
          // right: 100%;
          z-index: 2;
          opacity: 0.6;
        }

        input {
          width: 100%;
          border: none;
          background-color: transparent;
          font-size: 1.2rem;
          line-height: 1.9;
          outline: transparent;
          margin-top: 2vh;

        }

        label {
          font-size: 0.8rem;
          font-weight: 700;
          cursor: pointer;

        }
    }
  }
  .form-options {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 0.7rem;
    text-align: left;

    >div:last-of-type {
      text-align: right;
    }
  }
}

.button {
  display: block;
  width: 100%;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 1.6rem;
  // padding: 0 6vh;
  line-height: 2.5;
  margin-top: 6vh;
  outline: transparent;
  background-image: linear-gradient(to right,rgba(8, 178, 245, 0.9) 0%, rgba(126, 0, 223, 0.9) 70%, rgba(126, 0, 223, 0.9) 100%);
  box-shadow: 0 15px 30px rgba(90,37,131,0.35);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: scale(1.05, 1.05);
  }
}
