.login-box {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: white, $alpha: 0.92);
  width: 500px;
  padding: 11vh 5vh 7vh;
  text-align: center;
  z-index: 9999;
  border-radius: 50px;
  box-shadow: 0 15px 35px rgba(90,37,131,0.35);

  .avatar {
  background-color: rgba($color: white, $alpha: 1);
  padding: 30px;
  border-radius: 50%;
  // border: 2px solid transparent;
  box-shadow: 0 15px 30px rgba(90,37,131,0.35);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      border: 2px solid white;
      border-radius: 50%;
      top: -50px;
      left: -5px;
      right: -5px;
      bottom: -50px;
      transform: rotate(70deg);
      animation: animate 6s linear infinite
    }
  }

  @keyframes animate {
    0% {
       transform: rotate(30deg);
       border-color: rgba(125, 6, 216, 0);
    }
    25% {
      transform: rotate(60deg);
      border-color: rgba(136, 87, 173, 0.5);
    }
    50% {
      transform: rotate(90deg);
      border-color: rgba(191, 148, 224, 0.9);
    }
    75% {
      transform: rotate(140deg);
      border-color: rgba(42, 104, 112, 0.5);
    }
    100% {
      transform: rotate(180deg);
      border-color: rgba(236, 212, 255, 0);
    }
  }
  img {
  display: inline-block;
  width: 15vh;
  height: 15vh;
  }

  p {
    margin: 0 0 3vh;
    font-size: 1.2rem;
  }

  .form {
    .form-input-box {
        position: relative;
        text-align: left;
        margin: 0 0 3vh;

        &::after,
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
        }

        &::before {
          background-image: linear-gradient(to right,rgba(8, 178, 245, 0.9) 0%, rgba(126, 0, 223, 0.9) 70%, rgba(223, 0, 0, 0.9) 100%);
          // right: 100%;
          z-index: 2;
          opacity: 0.6;
        }

        input {
          width: 100%;
          border: none;
          background-color: transparent;
          font-size: 1.2rem;
          line-height: 1.9;
          outline: transparent;
          margin-top: 2vh;

        }

        label {
          font-size: 0.8rem;
          font-weight: 700;
          cursor: pointer;

        }
    }
  }
  .form-options {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    font-size: 0.7rem;
    text-align: left;

    >div:last-of-type {
      text-align: right;
    }
  }
}

.button {
  display: block;
  width: 100%;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 1.6rem;
  // padding: 0 6vh;
  line-height: 2.5;
  margin-top: 6vh;
  outline: transparent;
  background-image: linear-gradient(to right,rgba(8, 178, 245, 0.9) 0%, rgba(126, 0, 223, 0.9) 70%, rgba(126, 0, 223, 0.9) 100%);
  box-shadow: 0 15px 30px rgba(90,37,131,0.35);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: scale(1.1, 1.1);
  }
}
